html{
    font-size: 62.5%;
    font-family: $font-family;
}
body{
    font-size: 1.7rem;
}
a{
    font-family: $font-secon;
    text-decoration: none;
}

main{
    max-width: 940px;
    margin: auto;
    font-family: $font-family; 
    margin-top: 38px;

}

p,
h3,
h4  {
    color: #616161;
}