/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
color
*/
/*definicion de colores*/
.color-liht {
  color: #fff;
}

.color-primary {
  color: #356EAD;
}

.color-secon {
  color: #5a98d0;
}

.opacity {
  opacity: 0.5;
}

/*
border
*/
/*
margin
*/
html {
  font-size: 62.5%;
  font-family: arial;
}

body {
  font-size: 1.7rem;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

main {
  max-width: 940px;
  margin: auto;
  font-family: arial;
  margin-top: 38px;
}

p,
h3,
h4 {
  color: #616161;
}

/*cabecera*/
header .circle {
  width: 32px;
  height: 32px;
  background-color: #356EAD;
  border-radius: 100%;
}

header .logo {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  margin-left: 12px;
  border: solid 2px #316099;
}

header .logo p {
  font-size: 2.4rem;
  color: #356EAD;
  text-align: center;
  font-weight: 700;
  padding: 3px;
}

header .cabecera {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  font-size: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cabecera ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .cabecera a {
  color: #356EAD;
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
}

/*banner*/
.banner img {
  width: 100%;
  height: 250px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}

.banner .blog {
  width: 50%;
  left: 25%;
  top: 18%;
  position: absolute;
  text-align: center;
  color: white;
}

.banner .blog h1 {
  color: white;
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.banner .blog p {
  font-size: 1.8rem;
  color: white;
}

/*
articulo 
*/
.articulo h2 {
  font-size: 2.4rem;
  margin-bottom: 25px;
  color: #5a98d0;
  font-weight: 500;
}

.articulo .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.articulo .element h3 {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0px 25px 15px 0px;
  color: #356EAD;
}

.articulo .element p {
  line-height: 1.3;
  font-size: 1.8rem;
  color: #616161;
  margin: 0px 25px 15px 0px;
}

.articulo .contac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 25px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articulo .contac2 h4 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: #5a98d0;
}

.articulo .contac2 p {
  font-size: 1.4rem;
}

.articulo .contac2 .icon2 {
  color: #356EAD;
  margin-left: 20px;
}

.articulo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articulo2 img {
  margin-bottom: 20px;
}

.popular2 {
  width: 33.3333%;
}

.element2 h3 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0px 25px 15px 0px;
  color: #316099;
}

.element2 p {
  line-height: 1.3;
  margin: 0px 25px 15px 0px;
  font-size: 1.8rem;
}

.all-article h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #356EAD;
  margin-bottom: 30px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.info h3 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #356EAD;
  margin: 10px 20px 20px 20px;
}

.info p {
  line-height: 1.3;
  font-size: 1.8rem;
  margin: 10px 20px;
}

.contac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contac h4 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: #5a98d0;
}

.contac p {
  font-size: 1.4rem;
}

.contac .icon2 {
  color: #356EAD;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conten__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.conten__arrow p {
  color: #5a98d0;
  margin: 0px 20px 0px 20px;
}

.conten__arrow .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conten__arrow .arrow .icon2 {
  color: #5a98d0;
}

footer {
  width: 100%;
  background-color: #316099;
  border-radius: 0px 170px 0px 0px;
}

.container {
  max-width: 940px;
  margin: auto;
  padding: 50px 0px;
}

.interesed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interesed div {
  width: 50%;
}

.interesed .talk {
  text-align: center;
}

.interesed .talk button {
  background-color: #5A98D0;
  border-radius: 10px;
  padding: 10px 50px;
  border: none;
  font-size: 1.6rem;
  color: white;
}

.interesed h2 {
  font-size: 4.4rem;
  line-height: 4.3rem;
  font-weight: 400;
  color: white;
}

.interesed p {
  line-height: 1.3;
  margin: 30px 0px;
}

/*logo*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.flex h2 {
  margin-left: 25px;
  font-size: 2.4rem;
}

.flex .circle {
  width: 32px;
  height: 32px;
  background-color: #5a98d0;
  border-radius: 100%;
}

.flex .logo {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  margin-left: 12px;
  border: solid 2px #316099;
}

.flex .logo p {
  font-size: 2.4rem;
  color: #356EAD;
  text-align: center;
  font-weight: 700;
  padding: 3px;
}

.line-footer {
  border: solid 1px #fff;
  opacity: 0.4;
  margin-bottom: 40px;
}

.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-footer ul {
  color: white;
  margin-bottom: 20px;
}

.list-footer ul li {
  margin-bottom: 20px;
}

.list-footer .list1 span {
  margin-right: 20px;
}

.list-footer .list2 h3 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.list-footer .list2 a {
  color: white;
  opacity: 0.6;
  font-size: 1.3rem;
  font-weight: lighter;
}

.list3 h3 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.list3 a {
  color: white;
  opacity: 0.6;
  font-size: 1.3rem;
  font-weight: lighter;
}

/*search*/
.search {
  max-width: 940px;
  margin: auto;
  border-radius: 5px;
  background-color: #F4F4F4;
  color: #1F3F68;
  font-size: 1.6rem;
  padding: 17px;
}

.search input {
  outline: none;
  background-color: transparent;
  width: 90%;
  margin: 0px 33px;
  border: 1px solid #F4F4F4;
}

.tex h2 {
  font-weight: 600;
  float: right;
  color: #316099;
  font-size: 2.4rem;
  margin: 40px 0px 40px 0px;
}

.line {
  margin-bottom: 30px;
  border: solid 1px #949494;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */