//fonts 

$font-family: arial;
$font-secon:'Roboto', sans-serif;

$s-1:3.2rem;
$s-2:2.4rem;
$s-3:1.8rem;
$s-4:1.4rem;
$s-5:1.3rem;

/*
color
*/

$color-branding-one:#356EAD;
$color-branding-two:#5a98d0;
$color-branding-three:#316099;

$opacity: 0.5;
$color-base:#000;
$color-liht:#fff;

/*definicion de colores*/

.color-liht{
    color:$color-liht
}
.color-primary{
   color: $color-branding-one;
}
.color-secon{
   color: $color-branding-two;
}
.opacity{
    opacity:$opacity ;
}


/*
border
*/
$border-r:100%;
$border-m:5px;
$border-s:solid 2px #316099;

/*
margin
*/
$margin-left-2:20px;
$margin-right-2:20px;


