/*search*/

.search{
    max-width: 940px;;
    margin: auto;
    border-radius: 5px;
    background-color: #F4F4F4;
    color: #1F3F68;
    font-size: 1.6rem;
    padding: 17px;
    

    input{
        outline: none;
        background-color: transparent;
       
        width: 70%;
        margin: 0px 33px;
        border: 1px solid #F4F4F4;
       
        
    }
    }

    @media (max-width: 900px){
        .search{
            max-width: 89%;
        }
    }