/*
articulo 
*/
.articulo{
    h2{
        font-size: $s-2;
        margin-bottom: 25px;
        color: $color-branding-two;
        font-weight: 500;
    }
    .popular{
        display: flex;
        margin-bottom: 25px;
    }
    .element{
        h3{
            font-size: $s-1;
            font-weight: bold;
            margin: 0px 25px 15px 0px;
            color: $color-branding-one;
        }
        p{
            line-height: 1.3;
            font-size: $s-3;
            color: #616161;
            margin: 0px 25px 15px 0px;
        }

    }

    .contac{
        display: flex;
        justify-content: space-between;
        margin: 0px 25px 0px 0px;
        align-items: center;
    }
    .contac2{
       
       
        h4{
            margin-bottom:15px ;
            font-size: $s-4;
            color: $color-branding-two;
        }
        p{
            font-size: $s-4;
            

        }
        .icon2{
            color: $color-branding-one;
            margin-left: 20px;
        }
        
    }
}

.articulo2{
    display: flex;
   

    img{
        margin-bottom: 20px;
    }
}
.popular2{
    width: 33.3333%;
}
.element2{
    h3{
        font-size: $s-2;
        font-weight: bold;
    margin: 0px 25px 15px 0px ;
    color: $color-branding-three;
    }
    p{
        line-height: 1.3;
        margin: 0px 25px 15px 0px ;
        font-size: $s-3;
    }
}

.all-article{
    h2{
        font-size: $s-2;
        font-weight: 600;
        color: $color-branding-one;
        margin-bottom: 30px;
    }
}

.info{
    display: flex;
    margin-bottom: 20px;
  
    h3{
        font-size: $s-2;
        font-weight: 600;
        color:$color-branding-one;
        margin:10px 20px 20px 20px;
     }

    p {
        line-height: 1.3;
        font-size: $s-3;
        margin: 10px 20px;
    }
    div{
        .contac{
            div{
                h4{
                    margin: 10px 20px;
                }
            }
        }
    }
 
}
.contac{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
        margin-bottom:15px;
        
        font-size: $s-4;
        color: $color-branding-two;
    }
    p{
        font-size: $s-4;
 
    }
    .icon2{
        color: $color-branding-one;
        margin-left: 20px;
        align-items: center;
    }
    
}

.conten__arrow{
   display:  flex;
   justify-content: space-between ;
   margin-bottom: 60px;

    p{
        color: $color-branding-two;
       margin:0px 20px 0px 20px;
    }
   .arrow{
    display: flex;
    
  
    .icon2{
        color: $color-branding-two;
    }
    
}
}


/*responsive a 900px */
@media (max-width: 900px){
.articulo{
    width: 95%;
   
    
    }
    h2{
        font-size: $s-3;
    }


    }

    .articulo2{
        width: 100%;
        .popular2{
            padding-right: 10px;
            .element2{
                
                img{
                    width: 100%;
                }
            }
        }
    }
    
    .all-article{
        width: 95%;
        
    }
    .conten__arrow{
        margin-bottom: 120px;
    }

.media{
    display: none;
}


/*responsive a 700px */
@media(max-width: 700px){
    .popular{
        flex-direction: column-reverse;
        div{
            img{
             width: 100%;
             justify-content: center;
            margin-bottom: 15px;
            }
        }
       .element{
           h3{
              font-size: $s-2; 
           }
           p{
               font-size: $s-3;
           }
           
       }
    }

    .articulo2{
        flex-wrap: wrap;
        width: 100%;
        
        .popular2{
            width: 100%;
            margin-bottom: 20px;
            padding-right: 0px;
        }
    }
    
}

@media(max-width: 600px){
 
    .all-article{
        
        .media{
            p{
                display: block;
            color: $color-branding-two;
            float: right;
            right: 20px;
            margin-bottom: 40px;
            }
            
        }
        .none{
            display: none;
        }
        .info{
            flex-wrap: wrap;
            width: 100%;
            img{
                width: 100%;
                margin-bottom: 15px;
            }
            div{
                h3{
                    margin: 15px 0px;

                }
                p{
                    margin: 0px;
                }
                .contac{
                    div{
                        h4{
                            margin: 10px 0px;
                        }
                    }
                }
            }
            
        }

        }

    
}


@media(max-width: 424px){
    .popular{
        .element{
            h3{
                font-size: $s-2;
            }
            p{
                font-size: $s-4;
            }
        }
    }
    .all-article{
        .none{
            display: none;

        }
      
    }
}