/*cabecera*/

header{
    .circle{
        width: 32px;
        height: 32px;
        background-color:$color-branding-one;
        border-radius: $border-r;
       
    }
    .logo{
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: $border-r;
        margin-left: 12px;
        border: $border-s;
        
        p{
            font-size: $s-2;
            color:$color-branding-one;
            text-align: center;
            font-weight: 700;
            padding: 3px;
        }
    }
    .cabecera{
        width: 80%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding: 20px;
        font-size: $s-2;
        align-items: center;
        ul{
            display: flex;
        }
        a{
            color: $color-branding-one;
            margin-left: 50px;
            font-family: $font-secon;
            font-size: $s-2;
        }
    }
}

/*banner*/
.banner {
    img{
        width: 100%;
        height: 250px;
        position: relative;
        object-fit: cover;
        margin-bottom: 50px;

    }
    .blog{
        width:50% ;
        left: 25%;
        top: 130px;
        position: absolute;
        text-align: center;
        color: white;
        h1{
            color: white;
            font-size: $s-1;
            margin-bottom: 20px;
        }
        p{
            font-size: $s-3;
            color: white;
        }
    }
}

@media (max-width: 900px) {
    header{
        .cabecera{
            width: 90%;
            font-size: $s-3;
            padding: 40px 20px ;
        }
        .banner{
            .blog{
                top: 170px;
                }
            }
        }
    }
    @media(max-width: 700px){
        header{
            .cabecera{
                a{
                    font-size: $s-2;
                    margin-left:15px ;
                }
                
            }
        }

        .banner{
            .blog{
                width: 70%;
                left: 12%;
               

                h1{
                    font-size: $s-2;
                }
                p{
                    font-size: $s-3;
                }
            }
        }
    }
    

    @media(max-width: 424px){
        header{
            .cabecera{
                a{
                    font-size: $s-3;
                    margin-left:10px ;
                }
                
            }
        }
    }
